
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deployment</title>

</head>
<body>

<div class="banner">
  <form class="form" method="POST">
    <div class="parent">

      <div class="grid-item-empty"></div>

      <div class="grid-item-empty" >
       
      </div>
      <div class="grid-item"> 
         <button type="submit" class="button-left" name="vm-deployment-button" formtarget="_blank">Virtual Machine Deployment</button>
      </div>
      <div class="grid-item-empty"></div>
      <div class="grid-item">  <button type="submit" class="button-right" name="physical-server-installation-button" formtarget="_blank">Bare Metal Deployment</button>    </div>
      <div class="grid-item">   <button type="submit" class="button-left" name="ocp-cluster-installation-button" formtarget="_blank">OpenShift Deployment</button>   </div>
      <div class="grid-item-empty"></div>
      <div class="grid-item">   <button type="submit" class="button-right" name="poc-button" formtarget="_blank">POC<br>Deployment</button>   </div>
      <div></div>
      <div></div>

      <div></div>

    </div>
   </form>

</div>
</body>
</html>