<!DOCTYPE html>
<html lang="en">
  <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>VM Deployment</title>
       <script src="{{ url_for('static',filename='selectize/jquery-3.6.0.min.js') }}"  ></script>
      <link
    rel="stylesheet"
    href="{{ url_for('static',filename='selectize/selectize.default.min.css') }}"
    integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <script
    src="{{ url_for('static',filename='selectize/selectize.min.js') }}"
    integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  </head>
<body>
    
    <div class="banner">
     
      
      <div class="card">

         <div class="container">
            
            <div class="card3">
               <div class="parent">
                  
                 <form class="form" method="POST" id="create-form">
                  <div>
                     <div class="formtext">Vlan</div>
                     <select   required id="vlan" name="vlan">
                        <option value=""></option>
                        {% for vlan in vlans %}
                        <option value="{{ vlan }}">{{ vlan }}</option>
                  {% endfor %}
                      </select>   
                  </div>

                  
                  <div class="input-group">   
                     <div class="formtext">IP Address</div>
                     <input type="text" required id="ip" name="ip" ></input>
                    
                  </div>

                       
                  <div class="input-group">   
                     <div class="formtext">Netmask</div>
                     <input  type="text" required id="netmask" name="netmask" ></input>
                    
                  </div>

                       
                  <div class="input-group">   
                     <div class="formtext">Gateway</div>
                     <input type="text" required id="gateway" name="gateway"  ></input>
                    
                  </div>
          
       

                  <div class="cardinside123">

                  </div>
           
                  <div class="buttonsbox" >                   
                     <div class="buttonspacing"></div>
                     <button class="button-2" onclick="window.location='/vm_installation_2';" role="button" name="previous" id = "previous">Back</button>
                     <button class="button-1"role="button" name="next" id = "next">Next</button>
                  </div>
            </form>

               </div>
               
               
            </div>
               <!-- ------SELECT END----- -->
         </div>
  

      </div>

  
      
       
    </div>
    <style>
.input-group input:focus~label,
.input-group.filled input~label
{
  top: 0;
  background: #fff;
  font-size: 14px;
}

    </style>

<script>
   // Add event listener to the document
   document.addEventListener("keydown", function (event) {
     // Check if the Enter key was pressed
     if (event.key === "Enter") {
       // Prevent the default action (like form submission, if any)
       event.preventDefault();
       // Programmatically click the Next button
       const nextButton = document.getElementById("next");
       if (nextButton) {
         nextButton.click();
       }
     }
   });
  </script>
    <script>

   
    document.getElementById('next').disabled = true;
    document.getElementById('previous').disabled = false;

    document.getElementById('previous').addEventListener('click', function() {
        this.setAttribute('name', 'previous');
    });
    
    template_select = document.getElementById('template');

    vlan_select = document.getElementById('vlan');

    vlan_select.onchange = function() {
        vlan = vlan_select.value;
        // Fetch datacenters for selected vcenter
        fetch('vlan/' + cluster + '/' + vcenter).then(function(response) {
            response.json().then(function(data) {
                data.vlans.sort();
                optionHTML = '<option value=""> </option>';
                for (vlan of data.vlans) {
                    optionHTML += '<option value="' + vlan +'">' + vlan + '</option>';
                }
                datacenter_select.innerHTML = optionHTML;
                // Reset dependent selects
                vlan_select.innerHTML = '<option value=""> </option>';
                folder_select.innerHTML = '<option value=""> </option>';
                // Recheck form validity
                checkFormFields();
            });
        });
    };

    // 4. Function to check if all required fields are filled and enable the button
    function checkFormFields() {
        // Get all form inputs and selects
        const vlan = document.getElementById('vlan').value;
        const ip = document.getElementById('ip').value;
        const netmask = document.getElementById('netmask').value;
        const gateway = document.getElementById('gateway').value;
     

        
        const nextButton = document.getElementById('next');
     
        // Check if all fields are non-empty
        const allFieldsFilled = vlan && ip && netmask && gateway;
     
        // Enable or disable the create button based on whether all fields are filled
        nextButton.disabled = !allFieldsFilled;  // Disable the button if not all fields are filled

        document.getElementById('previous').disabled = false;
    }
    
    // Attach the checkFormFields function to all form inputs and selects
    document.querySelectorAll('#create-form input').forEach(function(element) {
        element.addEventListener('input', checkFormFields);
    });
     
    document.querySelectorAll('#create-form select').forEach(function(element) {
        element.addEventListener('input', checkFormFields);
    });

    


//  function restrictInputToNumbersAndDots(event) {
//    event.target.value = event.target.value.replace(/[^0-9.]/g, '');
//  }
//  function validateIpAddress(value) {
//    const ipPattern = /^(\d{1,3}\.){3}\d{1,3}$/;
//    const segments = value.split('.');
//    return ipPattern.test(value) && segments.every(segment => Number(segment) >= 0 && Number(segment) <= 255);
//  }
//  function validateNetmask(value) {
//    const netmaskPattern = /^(255|254|252|248|240|224|192|128|0)\.(255|254|252|248|240|224|192|128|0)\.(255|254|252|248|240|224|192|128|0)\.(255|254|252|248|240|224|192|128|0)$/;
//    return netmaskPattern.test(value);
//  }
//  function validateGateway(value) {
//    return validateIpAddress(value); // Gateway is also an IP address format
//  }
//  document.getElementById('ip').addEventListener('input', function (e) {
//    restrictInputToNumbersAndDots(e);
//    if (!validateIpAddress(e.target.value)) {
//      e.target.setCustomValidity('Please enter a valid IP address (e.g., 192.168.1.1)');
//    } else {
//      e.target.setCustomValidity('');
//    }
//  });
//  document.getElementById('netmask').addEventListener('input', function (e) {
//    restrictInputToNumbersAndDots(e);
//    if (!validateNetmask(e.target.value)) {
//      e.target.setCustomValidity('Please enter a valid subnet mask (e.g., 255.255.255.0)');
//    } else {
//      e.target.setCustomValidity('');
//    }
//  });
//  document.getElementById('gateway').addEventListener('input', function (e) {
//    restrictInputToNumbersAndDots(e);
//    if (!validateGateway(e.target.value)) {
//      e.target.setCustomValidity('Please enter a valid gateway IP (e.g., 192.168.1.1)');
//    } else {
//      e.target.setCustomValidity('');
//    }
//  });
const ipField = document.getElementById('ip');
 ipField.addEventListener('input', function (event) {

   event.target.value = event.target.value.replace(/[^0-9.]/g, '');
 });
 const netmaskField = document.getElementById('netmask');
 netmaskField.addEventListener('input', function (event) {

   event.target.value = event.target.value.replace(/[^0-9.]/g, '');
 });
 const gatewayField = document.getElementById('gateway');

 gatewayField.addEventListener('input', function (event) {

   event.target.value = event.target.value.replace(/[^0-9.]/g, '');
 
 });

 document.addEventListener("DOMContentLoaded", () => {

// Retrieve and populate form fields from sessionStorage

const fields = ["ip", "netmask", "gateway", "vlan"];

fields.forEach((field) => {

  const fieldValue = sessionStorage.getItem(field);

  if (fieldValue) {

   if(field=="vlan"){
      const stringselect= "#"+field;
      const field_select = $(stringselect).selectize()[0].selectize;
      field_select.setValue(fieldValue);

   }

   else{

    const inputField = document.getElementById(field);
    console.log(inputField
       
    );
    console.log(inputField.value);

    if (inputField) {

      inputField.value = fieldValue;

    }
   }

  }

});

// Save data to sessionStorage when the form is submitted

const form = document.querySelector(".form");

if (form) {

  form.addEventListener("submit", (event) => {

    fields.forEach((field) => {

      const inputField = document.getElementById(field);

      if (inputField) {

        sessionStorage.setItem(field, inputField.value);

      }

    });

  });

}

});
setInterval(checkFormFields,100);
$('#vlan').selectize();
      var $vlan = $("#vlan").selectize({
      //options here
   });

 
</script>
  </body>
</html>