<!DOCTYPE html>
<html lang="en">
  <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>VM CREATED</title>
  </head>
  <body>
        
        <div class="banner">
        
            <div></div>
            <div class="successcontainer">

                <div class="cardsuccess">

                        </div>
                    <div class="successinfogrid">
                  
                        <div></div>
                      <div></div>
   
                        <h1 class="bold"> Vcenter:</h1>
                        <p1>{{ vcenter }}</p1>
   
                        <h1 class="bold">Datacenter:</h1>
                        <p1>{{ datacenter }}</p1>
   
                        <h1 class="bold">Cluster:</h1>
                        <p1>{{ cluster }}</p1>
   
                        <h1 class="bold">Folder:</h1>
                        <p1>{{ folder }}</p1>

                        <h1 class="bold">Datastore Cluster:</h1>
                        <p1>{{ datastoreCluster }}</p1>

                        <h1 class="bold">Template:</h1>
                        <p1>{{ template }}</p1>
                        
                        <h1 class="bold">VM Name:</h1>
                        <p1>{{ name }}</p1>
   
                        <h1 class="bold">Memory:</h1>
                        <p1>{{ memory }}</p1>
   
                        <h1 class="bold">CPU Number:</h1>
                        <p1>{{ cpu }}</p1>
   
                        <h1 class="bold">VLAN:</h1>
                        <p1>{{ vlan }}</p1>
   
                        <h1 class="bold">IP:</h1>
                        <p1>{{ ip }}</p1>
   
                        <h1 class="bold">Netmask:</h1>
                        <p1>{{ netmask }}</p1>
   
                        <h1 class="bold">Gateway:</h1>
                        <p1>{{ gateway }}</p1>

                        <h1 class="bold">Disk:</h1>
                        <p1>{{disk}}</p1>

                        <div></div>
   
                     </div>
                
                </div>

                <div>

                    <div class="successgrid">

                         <h1>VM Deployment Successful</h1>
                         <p1>Your virtual machine has been succesfully created and will be ready to use shortly.</p1>
                    </div>

                </div>
                    
            </div>

        </div>
  </body>

</html>