<!DOCTYPE html>
<html lang="en">
  <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>VM DEPLOYMENT FAILED</title>

  </head>
  <body>
        
        <div class="banner">
        
            <div></div>
            <div class="loadcontainer">

                <div>
                    <div class="arrowcontainer">
                        <i onclick="window.location='it-io-deployment.html';" class="fa-solid fa-arrow-left" style="color: #df1111; font-size: 50px;"></i>
                    </div>
              
               
                </div>

                <div>
                    
                    <div class="logparent">

                        <div class="log">
                            <p1>VM deployment failed.</p1>
                            
                        </div>

                        <div class="log" style="width: 30vw; margin-left: 8vw;  " >
                            <p1 style="width: 5vw; font-size: min(1vw, 40px);margin: 0;">
                                 {{ log_message }} 
                             </p1>
                            
                        </div>
                    </div>
                    
                </div>
                    
                <div></div>
        
            </div>

      
            
        </div>
  </body>

</html>