<!DOCTYPE html>
<html lang="en">
  <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>VM CREATING</title>

  </head>
  <body>
        
        <div class="banner">
        
            <div></div>
            <div class="loadcontainer">

                <div></div>

                <div>
                    <div class="loader"></div>
                    <div class="logparent">

                        <div class="log">
                            <p1></p1>Deploying VM...</p1>
                        </div>

                        <div class="log" style="width: 30vw; margin-left: 8vw;  " >
                            <p1 style="width: 5vw; font-size: min(1vw, 40px);margin: 0;">
                                Virtual machine will be ready in about a minute
                             </p1>
                            
                        </div>
                    </div>

                </div>
                    
                <div></div>
        
            </div>
        </div>
  </body>
  
  <script>
      window.location.replace('/input_to_yml');
  </script>
</html>